LF10b_old/.terraform.lock.hcl
LF10b_old/.terraform/*.*
LF10b_old/terraform.tfvars
LF10b_old/config.psd1
LF10b_old/logfile.txt

LF10b/.terraform.lock.hcl
LF10b/.terraform/*.*
LF10b/terraform.tfvars
LF10b/config.psd1
LF10b/logfile.txt

Tuttas/.terraform.lock.hcl
Tuttas/.terraform/*.*
Tuttas/terraform.tfvars
Tuttas/terraform.tfstate
Tuttas/terraform.tfstate.backup
Tuttas/LF9_HN_TU_2425_1 Wahl der Arbeitsgruppen (K).xlsx
Tuttas/Wahl.xlsx
Tuttas/secret.json
Tuttas/CourseManagment/.terraform.lock.hcl
Tuttas/CourseManagment/.terraform/*

vm-shop-ng-working-Test/vm-shop-ng/vm-shop-ng-working-Test/vm-shop-ng/.terraform.lock.hcl
vm-shop-ng-working-Test/vm-shop-ng/vm-shop-ng-working-Test/vm-shop-ng/.terraform/*
vm-shop-ng-working-Test/vm-shop-ng/vm-shop-ng-working-Test/vm-shop-ng/secret.json
vm-shop-ng-working-Test/vm-shop-ng/LF10b/terraform.tfvars
