LF10b/.terraform.lock.hcl
LF10b/.terraform/*.*
LF10b/terraform.tfvars
LF10b/config.psd1
LF10b/logfile.txt

Tuttas/.terraform.lock.hcl
Tuttas/.terraform/*.*
Tuttas/terraform.tfvars
Tuttas/terraform.tfstate
Tuttas/terraform.tfstate.backup
